

html, body {
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    height: 100%;
    margin: 0;
    overflow-x: hidden;
}

h1,h2,h3,h4,h5 {
    font-family: 'Gloria Hallelujah', cursive;
}

a {
    color: #eee;
    text-decoration: none;
}

/* Utility */

.btn {
    display: inline-block;
    font-size: 17px;
    color: #fff;
    background: #222;
    padding: 13px 18px;
    border: none;
}

.btn-light {
    display: inline-block;
    background: #fff;
    color: #222;
    padding: 8px 12px;
    border: none;
}


.btn-light:hover {
    background-color: dodgerblue;
    color: #fff;
}

.btn-dark:hover {
    background-color: #fff;
    opacity: 0.7;
}

.btn:hover {
    background-color: dodgerblue;
    color: #fff;
}


/* Header Navbar */

.navbar-collapse ul {
    font-size: large;
}

.container-fluid a {

    font-size: 20px;
    font-family: 'Gloria Hallelujah', cursive;
}

a.navbar-brand {
    text-transform: uppercase;
  font-size: 30px;
}




/* Section 1 */

#showcase .container {
    background: url('../../storage/app/public/img/food1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    position: relative;
    height: 80vh;
    width: 100%;
    background-color: rgb(182, 178, 178);
    background-blend-mode: multiply;
    align-items: center;
    margin-bottom: 8rem;   
}

#showcase .container h1 {
    color: #fff;
    position: absolute;
    margin-top: 25rem;
    font-size: 6rem;
    opacity: 0.9;
    font-family: 'Gloria Hallelujah', cursive;
}

#showcase .container p {
    color: #fff;
    font-size: 2.5rem;
    margin-top: 37rem;
    margin-left: 1rem;
    font-family: 'Gloria Hallelujah', cursive;
}

.color-primary {
    color: #fff;
}

.container #btn1 {
    margin-top: 40rem;
    margin-left: 5rem;
}

/* Section2 */

#showcase-2 {
    height: 600px;
}


 /* Section 3 */


 .box-white {
     background: #fff;
 }

 .box-dodgerblue {
     background: dodgerblue;
 }

 .box {
     flex: 1;
     padding: 100px 0;
     display: flex;
     flex-direction: column;
     justify-content: center;
 }

 #showcase-3 h3 {
     padding-bottom: 20px;
     font-family: 'Gloria Hallelujah', cursive;;
 }

 /* Footer */

 #footer {
     position: bottom;
     bottom: 0px;
     line-height: 1;
     float: none;
     width: 100%;
     background: #222;
     padding: 10px 10px 10px 10px;
     color: #fff;
     text-align: center;
 }


 /* About Info */

.img-about {
    border-radius: 50%;
    padding: 10px;
    border: 3px solid #222;
    width: 50%;
}

/* Video */

#video-info {
    background: url('../../storage/app/public/img/sea.1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 10rem;
    padding-bottom: 10rem;
}

.vidwrapper {
    width: 100%;
    max-width: 1000px;
    margin: 3em auto;
    border: 5px solid #222;
}

.vidcontainer {
    width: 100%;
    max-width: 100%;
    height: 0;
    padding-bottom: 56.25%;  /* 720/1280 */
    border: 5px solid #222;
    position: relative;
}

.vidcontainer video {
    width: 100%;
    max-width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}


/*  card */

.card-custom {
    padding: 30px;
}

/* Contact Info */

#contact-info .container-fluid {
    display: flex;
    justify-content: space-evenly;
    background: #222;
    color: #fff;
    align-items: center;
    text-align: center;
    padding-top: 3rem;
    font-size: medium;
}

#contact-info .container-fluid a {
    font-size: medium;
}



#contatti {
    background: url('../../storage/app/public/img/sea.jpg')no-repeat center center/cover;
    margin-top: -30px;
    margin-bottom: -50px;
}



/* Dove Trovarci */


#form {
    align-items: center;
    text-align: center;
    margin-top: 8rem;
    margin-left: auto;
    margin-right: auto;
}

#form h2 {
    font-size: 50px;
    margin-bottom: 3rem;
    font-family: 'Gloria Hallelujah', cursive;;
}


#form textarea {
    border: 2px solid #222;
}

#form .form-control {
    border: 2px solid #222; 
}

#form label {
    text-transform: uppercase;
}


/* SERVIZI */




#carouselExampleInterval {
    padding-top: 2rem;
    padding-bottom: 5rem;
}


#gallery h2 {
    font-size: 50px;
    text-transform: uppercase;
    color: #222;
    font-family: 'Gloria Hallelujah', cursive;
}

#gallery hr {
    color: #222;
    height: 4px;
}

#gallery img {
    background: #222;
    opacity: 1;
    transition: opacity 0.25s;
}

#gallery img:hover {
    opacity: 0.6;
}